/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #A9894B;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #9D0817;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #9D0817;
}

header nav {
    position: relative;
}

header nav ul {
    list-style: none;
}

header>nav>ul {
    display: flex;
    justify-content: space-between;

}

#mainmenu.active::-webkit-scrollbar {
    width: 0;
}

/* Track */
#mainmenu.active::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
#mainmenu.active::-webkit-scrollbar-thumb {
    background: transparent;
}

/* Handle on hover */
#mainmenu.active::-webkit-scrollbar-thumb:hover {
    background: transparent;
}

#mainmenu.active {
    display: block;
    position: fixed;
    background: white;
    width: 80%;
    top: 0;
    right: 0;
    z-index: 9;
    max-height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    transform: translate(0, 0px);
    padding: 1rem 0;
}

header>nav#mainmenu>ul {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;

}


header>nav>ul>li {
    padding: 1rem;
    width: 100%;
}

header>nav#mainmenu>ul>li:first-child {
    border-top: 1px solid black;
}

header>nav>ul>li>ul {
    position: relative;
    padding: 0;
    margin: 0 1rem 0 0;
}

header>nav>ul>li>ul>li {
    padding: 1rem;
}

header>nav>ul>li:hover>ul {
    display: block;
}

header>nav>ul>li>ul>li>ul {
    margin: 0;
    padding: 0;
    display: none;
    width: 100%;
    background-color: white;
    left: 4rem;
    top: 0;
}

header>nav>ul>li>ul>li.active>ul {
    display: block;
}

header>nav>ul>li>ul>li>ul>li {
    border-bottom: 1px solid #e5e5e5;
    line-height: 3rem;
    position: relative;
}

header>nav>ul>li>ul>li>ul>li>ul {
    padding-right: 0rem;
}

header>nav>ul>li:first-child>ul>li {
    position: relative;
}

header>nav>ul>li:first-child>ul>li::before {
    position: absolute;
    content: "+";
    right: -1rem;
    top: 1rem;
    width: 10px;
    height: 10px;
    text-align: center;
    display: block;
}

header>nav>ul>li:first-child>ul>li.active::before {
    content: "-";
}

@media only screen and (min-width: 768px) {
    #mainmenu.active {
        display: block;
        position: relative;
        background: white;
        width: 80%;
        top: 0;
        right: 0;
        z-index: 9;
        overflow: visible;
        padding: 1rem 0;
    }

    header nav {
        position: relative;
    }

    header nav ul {
        list-style: none;
    }

    header>nav>ul {
        display: flex;
        justify-content: space-between;

    }

    header>nav#mainmenu {
        max-height: 100vh;
        overflow: visible;
    }

    header>nav#mainmenu>ul {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    header>nav#mainmenu>ul>li:first-child {
        border-top: none;
    }

    header>nav>ul>li {
        padding: 1rem;
        width: 100%;
    }

    header>nav>ul>li>ul {
        display: none;
        position: absolute;
        top: 3.6rem;
        right: 0px;
        width: 98%;
        background: #fff;
        z-index: 999;
        min-height: 70vh;
        padding: 1rem;
        overflow-y: scroll;
        overflow-x: hidden !important;
    }

    header>nav>ul>li:hover>ul {
        display: block;
    }

    header>nav>ul>li:first-child>ul>li {
        position: revert;
    }

    header>nav>ul>li>ul>li {
        margin-left: 1rem;
        width: 25%;
        padding-bottom: 1rem;
        line-height: 2rem;
    }

    header>nav>ul>li>ul>li:first-child>ul {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% - 15rem);
    }

    header>nav>ul>li>ul>li>ul {
        margin: 0;
        padding: 0;
        display: none;
        position: absolute;
        width: 100%;
        background-color: white;
        left: 4rem;
        top: 1.6rem;
    }

    header>nav>ul>li>ul>li:hover>ul {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% - 15rem);
    }

    header>nav>ul>li>ul>li>ul>li {
        border-bottom: 1px solid #e5e5e5;
        line-height: 3rem;
        font-weight: bolder;
        position: relative;
        width: 25%;
    }

    header>nav>ul>li>ul>li>ul>li::before {
        content: "";
        position: absolute;
        width: 3px;
        height: auto;
        background-color: black;
        color: black;
        right: 0;
        top: 0;
    }

    header>nav>ul>li>ul>li>ul>li>ul {
        padding-right: 0.5rem !important;
    }

    header>nav>ul>li>ul>li>ul>li>ul>li {
        font-weight: normal;
    }

}